<app-navbar></app-navbar>
<div class="container-fluid">
    <h3 style="margin-top: 2em">Educación</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="../../assets/img/about/1.jpg" class="card-img-top" height="450px">
                <div class="card-body">
                    <h5 class="card-title">Diplomado en extracción de muelas del juicio</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="../../assets/img/about/2.jpg" class="card-img-top" height="450px">
                <div class="card-body">
                    <h5 class="card-title">Dra. Yacziri Mendoza Sánchez Licenciatura en Odontología</h5>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="../../assets/img/about/3.jpg" class="card-img-top" height="450px">
                <div class="card-body">
                    <h5 class="card-title">Egresada de la Universidad de Ciencias y Artes de Chiapas</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top: 9em;">

</div>

<app-footer></app-footer>