<div class="container" id="contenido" *ngFor="let item of receta">
    <div style="border: 2px solid black; border-radius: 8px; width: 68%; height: 90px;">
        <img src="../../assets/img/LOGO5.png" class="rounded float-left" alt="...">
        <strong>3 av. Poniente. #106</strong><br>
        <strong>Entre Calle central y 2 av. sur</strong><br><br>
        
    </div>
    <br>
    
    <div style="width: 68%; text-align: center; font-size: 12px;">
        <div class="row">
            <div class="col">
                PACIENTE: 
            </div>

            <div class="col">
                {{item.nombre}}
            </div>

            <div class="col">
                SEXO: {{item.sexo}}
            </div>
        </div>

        <div class="row" style="margin-top: 1em;">
            <div class="col">
                EDAD: {{item.edad}} años
            </div>

            <div class="col">
                ALERGIAS: {{item.alergia}}
            </div>

            <div class="col">
                FECHA: {{item.fecha}}
            </div>
        </div>
        
    </div>

    <b style="font-size: 12px; margin-left: 41%;">FOLIO:</b> {{key}}
    <table style="width: 68%; text-align: center; font-size: 12px">
        <tr>
            <th>
                DIAGNÓSTICO
            </th>
            <th>
                Terminologia
            </th>
        </tr>
        <tr>
            <td>
                {{item.diagnostico}}
            </td>
            <td>
                {{item.terminologia}}
            </td>
        </tr>
    </table>

    <div style="font-size: 12px;">
        <b>
            <br>DOSIS Y DURACIÓN DEL MEDICAMENTO:<br>
        </b>
        {{item.receta}}
    </div>

    <div style="font-size: 12px;">
        <b>
            INDICACIONES:<br>
        </b>
        {{item.indicaciones}}
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="../../assets/img/qr_img.png" class="card-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="card-text">C.D. YACZIRI MENDOZA SANCHEZ</div>
                    <div class="card-text">UNIVERSIDAD DE CIENCIAS Y ARTES DE CHIAPAS</div>
                    <div class="card-text"><small class="text-muted">CED.PROF. 10947093</small></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div style="width: 68%; text-align: center; font-size: 12px;">
        <button class="btn btn-primary btn-sm" (click)="captureScreen()">Imprimir</button>
    </div>
</div>