<div class="container" id="contenido" *ngFor="let item of receta">
    <div style="border: 2px solid black; border-radius: 8px; width: 68%;">
        <img src="../../assets/img/LOGO5.png" class="rounded float-left" alt="...">
        <p><strong>3 av. Poniente. #106</strong></p>
        <p><strong>Entre Calle central y 2 av. sur</strong></p>
        <br>
    </div>
    <br>
    
    <div style="width: 68%; text-align: center; font-size: 12px;">
        <div class="row">
            <div class="col">
                PACIENTE: 
            </div>

            <div class="col">
                {{item.nombre}}
            </div>

            <div class="col">
                SEXO: {{item.sexo}}
            </div>
        </div>

        <div class="row" style="margin-top: 1em;">
            <div class="col">
                EDAD: {{item.edad}} años
            </div>

            <div class="col">
                ALERGIAS: {{item.alergia}}
            </div>

            <div class="col">
                FECHA: {{item.fecha}}
            </div>
        </div>
        
    </div>
    <br>
    <b style="font-size: 12px; margin-left: 41%;">FOLIO:</b> {{key}}
    <table style="width: 68%; text-align: center; font-size: 12px">
        <tr>
            <th>
                DIAGNÓSTICO
            </th>
            <th>
                Terminologia
            </th>
        </tr>
        <tr>
            <td>
                {{item.diagnostico}}
            </td>
            <td>
                {{item.terminologia}}
            </td>
        </tr>
    </table>

    <br>
    <p style="font-size: 12px;">
        <b>
            <p>DOSIS Y DURACIÓN DEL MEDICAMENTO:</p>
        </b>
        {{item.receta}}
    </p>

    <p style="font-size: 12px;">
        <b>
            <p>INDICACIONES:</p>
        </b>
        {{item.indicaciones}}
    </p>

    <br>
    
    <img src="../../assets/img/qr_img.png" height="100px" width="100px">

    <div style="width: 68%; text-align: center; font-size: 12px;">
        
            C.D. YACZIRI MENDOZA SANCHEZ
        <br>

            UNIVERSIDAD DE CIENCIAS Y ARTES DE CHIAPAS
        

        <br>
            CED.PROF. 10947093
        
    </div>
</div>

<div class="container">
    <div style="width: 68%; text-align: center; font-size: 12px;">
        <button class="btn btn-primary btn-sm" (click)="captureScreen()">Imprimir</button>
    </div>
</div>