
<div class="container" id="contenido">
    <div style="border: 2px solid black; border-radius: 8px; width: 68%;">
        <img src="../../assets/img/LOGO5.png" class="rounded float-left" alt="...">
        <p><strong>3 av. Poniente. #106</strong></p>
        <p><strong>Entre Calle central y 2 av. sur</strong></p>
        <br>
    </div>
    <br>
    
    <div style="width: 68%; text-align: center; font-size: 12px;">
        <div class="row">
            <div class="col">
                PACIENTE: 
            </div>

            <div class="col">
                Kevin Alejandro Martinez Hernandez
            </div>

            <div class="col">
                SEXO: Hombre
            </div>
        </div>

        <div class="row" style="margin-top: 1em;">
            <div class="col">
                EDAD: 40 años
            </div>

            <div class="col">
                ALERGIAS: NEGADO
            </div>

            <div class="col">
                FECHA: 30-12-1996
            </div>
        </div>
        
    </div>

    <table style="width: 68%; text-align: center; font-size: 12px">
        <tr>
            <th>
                DIAGNÓSTICO
            </th>
            <th>
                Terminologia
            </th>
        </tr>
        <tr>
            <td>
                aca va todo lo del diagnostico
            </td>
            <td>
                aca va la terminologia
            </td>
        </tr>
    </table>

</div>

<button class="btn btn-primary btn-sm" (click)="pdf()">PDF</button>